body {
	background:#68cdd5;
	font-size: 62.5%;
	margin:0px;
 	color: #ffffff;
}


.fanhui {
	background-image: url(fanhui.png);
	position: absolute;
	background-size:3em;
	left: 5%;
    top: 3%;
    width: 3em;
    height: 2.85em;
    }
h2 {
	background-image: url(logo.png);
	background-size:6em;
    	width: 6em;
    	height: 2.28em;
    	position: fixed;
	top: 7em;
	left: 0 ;
	right: 0;
	margin: 0 auto;
}
.wenzi {
	font-family:Î¢ÈíÑÅºÚ;
	font-size: 1.3em;
	line-height: 1.6em;
	margin: 0 auto; width:75%;
	position:relative;
	top:17em;
	text-align:center;    
}
.left {
	position: absolute;
	top: 65%;
    left: 20%;
    display: inline-block;
 
}
.logo-2-left {
	background-image: url(logo-2-left.png);
	background-size:4.5em;
    width: 4.5em;
    height: 4.5em;
    line-height: 10em;
    margin: 0 auto;
}
.right {
	position: absolute;	
	top: 65%;
    right: 20%;

}
.logo-2-right {
	background-image: url(logo-2-right.png);
	background-size:5.5em;
    width: 4.8em;
    height: 4.4em;
    line-height: 10em;
    margin: 0 auto;
}

.text {
	font-size: 1.3em;
	font-weight: bold£»

}


